on early-fs
    start dsms_service

on post-fs-data
    mkdir /data/local/dsms 0710 dsms dsms
    rm /data/local/dsms/preboot.log
    write /data/local/dsms/preboot.log ""
    chown dsms dsms /data/local/dsms/preboot.log
    chmod 0620 /data/local/dsms/preboot.log
    restorecon_recursive /data/local/dsms

    mkdir /efs/dsms 0710 dsms dsms
    restorecon_recursive /efs/dsms

service dsms_service /system/bin/vendor.samsung.frameworks.security.dsms@1.0-service
    class early_hal
    user dsms
    group dsms
    disabled